body {
  background: #e7e6e6;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 5fr;
}

aside {
  border: 1px solid red;
  height: 100vh;
}

main {
  border: 1px solid blue;
}